body
{
background-image: url(B.jpeg);
background-repeat:no-repeat;	
}
#outer
{
	height:250px;
	width:350px;
	margin:150px 0px 0px 430px;
	border:0px solid #aaa;
	border-radius:4px;
}
form
{
	font-family:comic sans ms;
}
input[type=text]
{
width:350px;
height:30px;
border-radius:2px;
border:2px solid #aaa;
box-sizing:border-box;
}
input[type=password]
{
width:350px;
height:30px;
border-radius:2px;
border:2px solid #aaa;
box-sizing:border-box;
}
#asd
{
color:white;
padding-left:160px;
padding-right:163px;
background-color:#9C004E;
border:#9C0D0C;
padding-bottom:3px;
padding-top:3px;
}